name: PR
on: [pull_request]

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      CI: 'true'
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Install node 
      uses: actions/setup-node@v2-beta
      with:
        node-version: 14
    - name: Install dependencies 
      run: yarn install --immutable | grep -v 'YN0013'
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
    - name: Lint
      run: yarn lint
    - name: Build
      run: yarn build
    - name: Run headful puppeteer tests
      uses: djp3/puppeteer-headful@master
      with:
        args: yarn e2e
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: |
          master-build.zip