name: PR

on: [pull_request]

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
      - name: Lint
        run: yarn lint

  build-and-test:
    name: Build and test e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2-beta
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
      - name: Build
        run: yarn build
      - name: Run headful puppeteer tests
        uses: mujo-code/puppeteer-headful@latest
        with:
          args: yarn e2e
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: |
            master-build.zip
